/* 

COLORS

    black #000000
    alabaster #F3EFE0
    pearl aqua #7FEFBD
    satin sheen gold #CBA135

FONTS

    font-family: 'Oxygen Mono', monospace;
    font-family: 'Montserrat', sans-serif; (300-700)
    font-family: 'Crimson Text', serif; (400, 600, 700)

*/

/*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
G E N E R A L
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  */
.wrapper {
    margin: 0 auto;
    width: 95%;
    max-width: 1200px;
}


/*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
H E A D E R
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  */

.navigation {
    height: 125px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.top-nav-container {
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.left-logo-container, .middle-logo-container, .search-container {
    width: calc(100%/3);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #171717;
}

.left-logo-container {
    justify-content: flex-start;
    opacity: 0;
    padding-left: 20px;
}

.left-logo-container > p, .middle-logo-container > p {
    padding-left: 6px;
    font-family: 'Oxygen Mono', monospace;
    font-size: 22px;
    letter-spacing: 4px;
    line-height: 28px;
    color: #171717;
}

.search-container {
    justify-content: flex-end;
    padding-right: 20px;
}

.search-container i:hover {
    transition-duration: 0.2s;
    transform: scale(1.2);
}

.hamburger-icon {
    color: #171717;
    display: none;
}

.nav-links-container {
    height: 50px;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-links-container li {
    list-style: none;
}

.nav-links-container li a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    color: #171717;
}

.nav-links-container li a:hover {
    border-bottom: solid;
    border-bottom-color: #7FEFBD;
}

@media (max-width: 600px) {

    .left-logo-container {
        width: 50%;
        opacity: 1;
    }

    .middle-logo-container, .search-container {
        display: none;
    }

    .hamburger-icon {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        padding-right: 20px;
    }

    .nav-links-container {
        display: none;
    }
}





/* * {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    height: 100px;
    background: #222;
}

ul {
    margin: 0;
    padding: 0;
}

.desktop-menu li {
    display: inline-block;
}

ul li a {
    color: white;
}

.desktop-menu {
    display: block;
}

.mobile-menu {
    display: none;
}

.mobile-container {
    width: 300px;
    padding: 20px;
    background: coral;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    transition: 0.2s;
    transform: translateX(-300px);
}

.mobile-container.open {
    transform: translateX(0px);
}


@media (max-width: 700px) {
    .desktop-menu {
        display: none;
    }

    .mobile-menu {
        display: block;
    }
} */









/*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
H E R O
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  */
.hero {
    width: 100%;
    height: 400px;
    background:
        /* linear-gradient(90deg, rgba(127, 239, 189, 0.308), rgba(255, 255, 255, 0.075)), */
        /* radial-gradient(
            rgba(255, 255, 255, 0),
            rgba(0, 0, 0, 0)
        ), */
        url('../assets/images/sebastian-yepes-431125-unsplash.jpg')
    ;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* color: #171717; */
    /* text-align: center; */
}

.hero > h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    /* letter-spacing: 2px; */
    font-size: 58px;
    color: #CBA135;
    margin-left: 20px;
    margin-bottom: 20px;
}

.hero > h2 {
    font-family: 'Crimson Text', serif;
    font-weight: 300;
    /* letter-spacing: 2px; */
    font-size: 28px;
    /* color: #7FEFBD; */
    margin-left: 20px;
    margin-bottom: 20px;
}

button {
    /* font-family: 'Open Sans Condensed', sans-serif;
    border: solid;
    border-color: #7FEFBD;
    color: black;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 18px; */
}

button:hover {
    /* background: #7FEFBD; */
    /* color: white; */
}









.about-hero {
    width: 100%;
    height: 300px;
    background:
        radial-gradient(
            rgba(0, 0, 0, 0.342),
            #f5f5f53f
        ),
        url(https://images.unsplash.com/photo-1513624954087-ca7109c0f710?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6e62a7e25e5552ec806aa34e63efb0ee&auto=format&fit=crop&w=1350&q=80);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #171717;
    text-align: center;
}

.products-hero {
    width: 100%;
    height: 300px;
    background:
        radial-gradient(
            rgba(0, 0, 0, 0.527),
            #f5f5f58c
        ),
        url(https://images.unsplash.com/photo-1507919981044-3b672b208db9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=67833ffc743dd72c487ad09b6b85fbbc&auto=format&fit=crop&w=1350&q=80);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #171717;
    text-align: center;
}

.contact-hero {
    width: 100%;
    height: 300px;
    background:
        radial-gradient(
            rgba(0, 0, 0, 0.527),
            #f5f5f58c
        ),
        url(https://images.unsplash.com/photo-1504838986326-0f4d3ce9cf63?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f25ffba303f2d1115a7d98ca7a75010a&auto=format&fit=crop&w=1500&q=80);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* color: #171717; */
    /* text-align: center; */
}






/*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
M A I N
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  */
main {
    height: 700px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    /* margin-top: 40px;
    margin-bottom: 40px; */
    background: #CBA135;
}

.column-one-container {
    width: 50%;
    height: 700px;
    background: url(../assets/images/yolky-_-473616-unsplash.jpg);
    background-position: center;
    background-size: cover;
    /* border: solid;
    border-color: #CBA135;
    border-width: 32px; */
padding: 32px;
}

/* .column-one-photo-container {
    width: 50%;
    height: 700px;
    background: url(../assets/images/yolky-_-473616-unsplash.jpg);
    bacposition: absolute;
    background-size: cover;
    border: solid;
    border-color: white;
    border-width: 25px;
    padding: 25px;
} */

.column-one-container > p {
    width: 50%;
    position: absolute;
    font-family: 'Crimson Text', serif;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 72px;
    color: rgb(255, 255, 255);
    text-align: right;
}

.column-two-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 700px;
}

.column-two-top-container, .column-two-bottom-container {
    width: 100%;
    height: 50%;
}

.column-two-top-container {
    background: pink;
}

.column-two-bottom-container {
    background: yellow;
}




.h2-container {
    width: 50%;
    padding-right: 20px;
}

h2 {
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 2px;
    font-size: 36px;
    text-align: justify;
    color: #858585;
}

span {
    color: #b95655;
}

.paragraph-container {
    width: 50%;
    border-left: solid;
    border-left-width: thin;
    padding-left: 20px;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-align: justify;
    color: #1f1f1f;
}

@media (max-width: 600px) {
    main {
        flex-direction: column;
    }

    .h2-container {
       width: 100%;
    }

    .paragraph-container {
        width: 100%;
        padding-left: 0;
        border: none;
        border-top: solid;
        border-top-width: thin;
    }
}







/* about main section */

about-main {
    background: #F3EFE0;
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* margin-top: 40px; */
    margin-bottom: 40px;
}

.person-1-card, .person-2-card, .person-3-card {
    width: 150px;
    height: 400px;
    /* background: #858585; */
    /* border-radius: 300px; */
}

.person-1-photo-container, .person-2-photo-container, .person-3-photo-container {
    width: 100%;
    height: 150px;
    /* background: red; */
    border-radius: 300px;
}

.person-1-photo-container {
    background: url(https://images.unsplash.com/photo-1529122581445-c5b6773d7cdf?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0efc5e0c88a48b65bbe9f252bef75e28&auto=format&fit=crop&w=334&q=80);
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
}

.person-1-photo-container:hover {
    filter: grayscale(0%);
}


.person-2-photo-container {
    background: url(https://images.unsplash.com/photo-1529074723-3167de44a1da?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=10185db19b32104ef7087e23d2a1927f&auto=format&fit=crop&w=375&q=80);
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
}

.person-2-photo-container:hover {
    filter: grayscale(0%);
}

.person-3-photo-container {
    background: url(https://images.unsplash.com/photo-1504280052105-d302e531fa3d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e6d8229fc712471d43df5c56d54e1bb7&auto=format&fit=crop&w=751&q=80);
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
}

.person-3-photo-container:hover {
    filter: grayscale(0%);
}





/*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
F O O T E R
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  */
footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background: linear-gradient(160deg, #efefef, #ffffff71);
    display: flex;
    flex-direction: row;
}

h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: underline;
    margin-top: 0;
}

.company-and-legal-section {
    width: 50%;
    display: flex;
    /* justify-content: space-between; */
    padding-left: 20px;
    margin-bottom: 40px;
}

.company-section, .legal-section {
    width: 200px;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer ul li {
    list-style: none;
}

footer ul li a {
    font-family: 'Open Sans Condensed', sans-serif;
    color: black;
    text-decoration: none;
}

.social-media-section {
    width: 50%;
}

.social-media-section ul {
    /* color: #1f1f1f; */
    display: flex;
}

.social-icons a {
    margin-right: 40px;
    color: #1f1f1f;
}

footer ul li a:hover {
    color: #858585;
}

.social-icons a:hover {
    color: #b95655;
}

@media (max-width: 600px) {
    footer {
        flex-direction: column;
    }

    .company-and-legal-section {
        width: 100%;
    }

    .social-media-section {
        width: 100%;
        margin-left: 20px;
    }
}